[options]
addons_path = {{ getv "/odoo/addons/path" "" }}
data_dir = /odoo/data
auto_reload = False
db_host = {{ getv "/odoo/db/host" }}
db_name = {{ getv "/odoo/db/name" }}
db_user = {{ getv "/odoo/db/user" }}
db_password = {{ getv "/odoo/db/password" }}
dbfilter = ^{{ getv "/odoo/db/name" "odoodb" }}$
list_db = {{ getv "/odoo/list/db" "False" }}
admin_passwd = {{ getv "/odoo/admin/passwd" "" }}
db_maxconn = {{ getv "/odoo/db/maxconn" "64" }}
limit_memory_soft = {{ getv "/odoo/limit/memory/soft" "2147483648" }}
limit_memory_hard = {{ getv "/odoo/limit/memory/hard" "2684354560" }}
limit_request = {{ getv "/odoo/limit/request" "8192" }}
limit_time_cpu = {{ getv "/odoo/limit/time/cpu" "60" }}
limit_time_real = {{ getv "/odoo/limit/time/real" "120" }}
log_handler = {{ getv "/odoo/log/handler" "':INFO'" }}
log_level = {{ getv "/odoo/log/level" "info" }}
max_cron_threads = {{ getv "/odoo/max/cron/threads" "1" }}
workers = {{ getv "/odoo/workers" "4" }}
logfile = {{ getv "/odoo/logfile" "None" }}
log_db = {{ getv "/odoo/log/db" "False" }}
logrotate = True
syslog = {{ getv "/odoo/syslog" "False" }}
running_env = {{ getv "/odoo/running/env" "dev" }}
without_demo = {{ getv "/odoo/without/demo" "True" }}
server_wide_modules = {{ getv "/odoo/server/wide/modules" "" }}
; We can activate proxy_mode even if we are not behind a proxy, because
; it is used only if HTTP_X_FORWARDED_HOST is set in environ
proxy_mode = True
; csv_internal_sep = ,
; db_template = template1
; debug_mode = False
; email_from = False
; longpolling_port = 8072
; osv_memory_age_limit = 1.0
; osv_memory_count_limit = False
; smtp_password = False
; smtp_port = 25
; smtp_server = localhost
; smtp_ssl = False
; smtp_user = False
; xmlrpc = True
; xmlrpc_interface =
; xmlrpc_port = 8069
; xmlrpcs = True
; xmlrpcs_interface =
; xmlrpcs_port = 8071
unaccent = {{ getv "/odoo/unaccent" "False" }}
